.carousel-item {
    max-height: 85vh;
    color: #140a02;
}

.carousel-caption {
    max-width: 15vw;
}

.carousel-caption h3 {
    font-size:10vw;
}

.carouselImage {
    max-width:100%;
    display:block;
    height:auto;
}

h3 {
    font-size: 10vw;

    color: rgba(255,255,255,0.7);
    -webkit-text-stroke: var(---white) 0.3vw;
}