.cartItemContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardTitleContainer {
    display:flex;
    flex-direction: row;
}

.itemInstructions {
    background-color: var(---white);
    border: 2px#e2d3c0 solid;
    border-radius: 0.5rem;
    padding: 0.2rem 0.5rem;
    transition: ease-in-out 0.125s;
}

.itemInstructions:focus {
    border-color: var(---red);
    outline:none;
}

@media screen and (max-width:769px) {
    .cartItemContainer {
        align-items: top;
    }
}