.mainfooter{
    max-width:1300px;
}

.Hours{
    transform: translate(10%, 0%);
}

hr{
    color: #140a02;
    background-color: #140a02;
}

.background {
    background: #fff6eb;
    width: 100%;
    max-width: 100vw;
}
a{
    color: #140a02;
    text-decoration: none;
}

.socials-row{
    justify-content:center;
    display: flex;
    flex-direction: row;
    height: 50%;
}

.socials-row a{
    width: 15%;
    height: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.socials-row i{
    justify-content: center;
    align-items: center;
    display: flex;
}

.footercol {
    width: 25%;
}

@media screen and (max-width:769px) {
    .footercol {
        width:50%;
    }
}

@media screen and (max-width:1079px) {
    .socials-row {
        justify-content: space-around;
    }
}