:root {
    --red: #c42f21ae;
    --yellow: #ede431af;

    padding: 0 !important;
}

.right{
    background-image: url("../../src/assets/whitebackground2.png");
}

.left {
    background-image: url("../../src/assets/whitebackground.png");
    background-color: var(--yellow);
    background-blend-mode: multiply;
}