.main {
    width:100%;
}

.row {
    --bs-gutter-x: 0;
}
:root {
    --red: #dc3c2eaf;
    --yellow: #e3cc4daf;
    --white: #fff6ebaf;
}

.main img {
    /* max-width: 500px; */
}

.right{
    background-image: url("../../src/assets/whitebackground2.png");
    background-color: var(--white);
    background-blend-mode: multiply;
}

.left {
    background-image: url("../../src/assets/whitebackground.png");
    background-color: var(--yellow);
    background-blend-mode: multiply;
}

.tabcol {
    width: 50%;
}

@media screen and (max-width:1199px) {
    .tabcol {
        width: 100%;
    }
}