.mainfooter{
    max-width:1300px;
}



hr{
    color: #140a02;
    background-color: #140a02;
}

.background {
    background: #fff6eb;
    width: 100%;
    max-width: 100vw;
}
a{
    color: #140a02;
    text-decoration: none;
}

.socials-row{
    display: flex;
    flex-direction: row;
    height: 50%;
}

.socials-row a{
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.socials-row i{
    justify-content: center;
    align-items: center;
    display: flex;
}