.mainfooter{
    max-width:1300px;
}



hr{
    color: black;
    background-color: black;
}

.background {
    background: rgb(255, 246, 235);
    width: 100%;
    max-width: 100vw;
}
a{
    color: rgb(20, 10, 2);
    text-decoration: none;
}

.socials-row{
    display: flex;
    flex-direction: row;
    height: 50%;
}

.socials-row a{
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.socials-row i{
    justify-content: center;
    align-items: center;
    display: flex;
}