:root {
    ---red: #dc3c2e;
    ---yellow: #ffd900;
    ---white: #fff6eb;
    ---black: #140a02;
}

#nav{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(---white);
    padding: 0 5vw;
    transition: 0.25s ease-in-out;
    width: 100%;
    height:10vh;
}

.logo {
    height: 100%;
}

.logo img {
    height: 100%;
}

#orderBody {
    color: var(---white);
    font-size: 1.3rem;
    font-weight: 600;
    width: 100px; 
    text-align: center;
    background-color: var(---red);
    border-radius: 1vw;
    height: 6vh;
    transition: 0.25s ease-in-out;
}

#orderBody:hover {
    background-color: var(---black);
}

#orderMobileContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar {
    display:flex;
    align-items:center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

#navbar li{
    list-style:none;
    padding: 0 20px;
    position:relative;
}

#navbar li a{
    font-size: 1.3rem;
    font-weight: 600;
    color: var(---black);
    text-decoration: none;
    transition: 0.25s ease-in-out;

    display: inline-block;
    position: relative;
}

#navbar li a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(---red);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

#navbar li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#navbar li a:hover{
    color: var(---red);
}

#navbar li a.active{
    color: var(---red);
}

#navbar li a.active:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#mobile {
    display:none;
}

#mobile i{
    color: var(---black);
    align-items: center;
}

.orderParent {
    text-decoration: none;
}

@media screen and (max-width:769px) {
    #navbar {
        display:flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 10vh;
        right: -55%;
        width: 50%;
        max-width:300px;
        height: 100vh;
        background: var(---yellow);
        box-shadow: 0 50px 50px var(---black);
        padding: 40px 0 0 0px;
        transition: 0.25s ease-in-out;
    }

    #navbar.active{
        right: 0px;
    }

    #navbar li{
        margin-bottom: 25px;
    }
    
    #mobile {
        display:block;
    }

    #mobile i{
        font-size: 24px;
        cursor: pointer;
    }

    #nav.active {
        box-shadow: 0 0 50px var(---black);
    }

    #orderMobileContainer div {
        padding: 20px;
    }
}